<h3>
  Главная страница
</h3>

<br/>

<button>
  <%= link_to 'Все анекдоты', '/main/anecdotes' %>
</button>

<button>
  <%= link_to 'Избранное', '/favourite' %>
</button>

<br/>
<br/>

<%= link_to 'Выйти', '/' %>