<%= link_to 'Назад', '/main' %>
<h3>
  Все анекдоты
</h3>
<ul>
  <%= while @i <= @anecdotes.count do %>
  <li>
    <%= Anecdote.find_by_id(@i).text %>
    <%- @i += 1 %>
  </li>
  <% end %>
  <%- @i = 1 %>
</ul>
